---
version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "daily"
      time: "05:00"
      timezone: "Australia/Brisbane"
    cooldown:
      default-days: 28
    labels:
      - "dependencies"
