name: "Nix"
inputs:
  restore:
    description: "Whether to restore (true), or merely make sure caches are populated (false)"
    required: false
    default: true
runs:
  using: "composite"
  steps:
    - uses: nixbuild/nix-quick-install-action@2c9db80fb984ceb1bcaa77cdda3fdf8cfba92035 # v34
      with:
        nix_conf: |
          keep-env-derivations = true
          keep-outputs = true
    - uses: ./.github/workflows/shared/nix/cache_key
      if: "${{ env.LOOKOUT_CI_NIX_CACHE_KEY == '' }}"
    - name: "Restore and cache Nix store"
      id: nix-cache
      uses: nix-community/cache-nix-action@135667ec418502fa5a3598af6fb9eb733888ce6a # v6.1.3
      with:
        primary-key: ${{ env.LOOKOUT_CI_NIX_CACHE_KEY }}
        restore-prefixes-first-match: ${{ runner.os }}-nix-
        gc-max-store-size: 0
        purge: true
        purge-prefixes: ${{ runner.os }}-nix-
        purge-primary-key: never
        skip-restore-on-hit-primary-key: ${{ inputs.restore != 'true' }}
    - name: "Set NIX_PATH"
      shell: bash
      run: |
        {
          echo "NIX_PATH=nixpkgs=$(jq --raw-output .nixpkgs.url nix/sources.json)"
        } >> "$GITHUB_ENV"
    - name: "Instantiate shell and add GC root"
      if: ${{ steps.nix-cache.outputs.hit != 'true' }}
      shell: bash
      run: nix-instantiate shell.nix --add-root "$PWD/.nix-gc-roots/shell.drv"
