name: "Deploy"

run-name: "Deploy version ${{ github.event.workflow_run.head_sha }}"

on:
  workflow_run:
    workflows:
      - "Verify"
    types:
      - "completed"
    branches:
      - "main"

permissions: {}

jobs:
  deploy-production:
    name: "Deploy"

    concurrency:
      group: "deploy/tlw-heroku-drain-datadog"

    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: "Check out the code"
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 0 # This means a full clone. Heroku rejects shallow clones.
          ref: ${{ github.event.workflow_run.head_sha }}
      - name: "Run Heroku deployment action"
        uses: ./.github/workflows/shared/heroku-deploy
        with:
          app: "tlw-heroku-drain-datadog"
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          revision: ${{ github.event.workflow_run.head_sha }}
